<h1>Welcome to Mean Mugging!</h1>
<strong>May your mugs always be warm...unless you want them cold.</strong>
<p></p>

<span style="float: center">
<img class="logo" src="Mean.png", width="400">
</span>